# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Notebooks & editors
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store

# Virtual envs
.venv/
venv/
env/

# ML experiments
runs/
wandb/
checkpoints/
tuning_runs/
logs/
data/
*.pt
*.pth
*.h5
*.ckpt
__pycache__/
